@use 'mixin';

.p-topics {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

.p-news {
  &__list {
    gap: 16px;
  }
}

.p-dashboard {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}